<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% data.forEach(data=>{ %>
       
    <img src="<%=data.image%>" alt="">
    <h2><%=data.name%></h2>
    <h2><%=data.patronus%></h2>
    <h2><%=data.alive%></h2>

    <form action="/character" method="POST">
        <button type="submit">Add To Favorite</button>
    </form>

   <% }) %>
</body>
</html>