<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="/house_name/gryffindor">gryffindor<img src="../img/gryffindor.png" alt=""></a>
    <a href="/house_name/hufflepuff">hufflepuff<img src="../img/hufflepuff.png" alt=""></a>
    <a href="/house_name/ravenclaw">ravenclaw<img src="../img/ravenclaw.png" alt=""></a>
    <a href="/house_name/slytherin">slytherin<img src="../img/slytherin.png" alt=""></a>
</body>
</html>