<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li>My_charcter</li>
            <li>Home</li>
        </ul>
    </header>

    <main>

        <div id='div'>
   
    <a href="/House/character"><img id='i1' name='gryffindor' src="../img/gryffindor.png" alt=""></a>
    <a href="/House/character"><img id='i2' name='hufflepuff' src="../img/hufflepuff.png"  alt=""></a>
    <a href="/House/character"><img id='i3' name='ravenclaw' src="../img/ravenclaw.png"  alt=""></a>
    <a href="/House/character"><img id='i4' name='slytherin ' src="../img/slytherin.png"  alt=""></a>
</div>
</main>
    <footer>

    </footer>
</body>
</html>